.homepage {
  // padding:0 4rem;
  // height: calc(100vh - 6.5rem);
  width: 100%;

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

.latestEpisodes {
  margin-top:20px;
  color:var(--gray-800);

  header {
    border: 1px solid black;
    border-radius: 10px;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    flex-wrap: wrap;

    li {
      padding: 1.5rem;
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-gap: 1rem;
      transition: all 0.3s ease;
      border: 1px solid #B7B7B7;
      background-color: #d5d5d5;

      &:hover {
        background-color: var(--green-hover);
        border: 1px solid var(--green-hover);
      }

      .episodeDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        main {
          a {
            font-size: 1.5rem;
            text-decoration: none;
            color: var(--gray-800);
          }
          p {
            padding-top: 12px;
          }
        }
        footer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.btnPlayDetails {
  background-color: chartreuse;
  // width: 250px;
  height:auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  button {
    background-color: rgba(65, 6, 89, 0.61);
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 999;
    left: 0;
    
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(248, 24, 229, 0.61);

      img {
        opacity: 1;
      }
    }

    img {
      width: 100px;
    }
  }
}

.allEpisodes {
  background-color: white;
  
  display: grid; 
  grid-template-columns: repeat(2,1fr);
  grid-gap: 33px;
  

  img {
    border-radius: 10px;
  }

  .allEpisodesBox {
    border-radius: 10px;
    border: 1px solid #B7B7B7;
    padding: 1rem;
    
    display: grid; 
    grid-template-columns: 120px 1fr;
    grid-gap: 24px;
    position: relative;

    .details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      a {
        color: var(--text);
        text-decoration: none;
      }

      button {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .details_text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
  
        img {
          border-radius: 10opx;
        }
      }
  
      .details_data {
        display: flex;
        margin-top: 24px;
      }
    }
    
  }

}
