.playerContainer {
  // width: 100%;
  min-height: 300px;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  border-radius: 10px;

  background-color: #EBEBEB;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  p {
    font-family: Lexend, sans-serif;
    font-weight: 800;
    font-size: 24px;
    padding: 2rem;
    margin: 2rem;
  }

  img {
    padding:0 0.5rem;    
  }

  footer {
    align-self: stretch;
    &.empty {
      opacity: 0.5;
    }
  }
}

.emptyPlayer {
  width: 100%;
  height: 10rem;
  border: 1.5px dashed var(--purple-300);
  // background: linear-gradient(143.8deg, #5010ff3f 0%, #ec17d72e 100%);
  font-weight: 500;

  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}


.progress{ 
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1rem;
  font-size: 0.875rem;
  padding: 2rem 0;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

  .slider {
    flex: 1;

    .emptySlider {
      width: 100%;
      height: 4px;
      background: var(--purple-400);
      border-radius: 2px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: var(--text);
    margin: 0 0.5rem;

    transition: filter 0.2s;

    &:disabled {
      cursor: default;
    }

    &:hover:not(:disabled) {
      filter: brightness(0.7)
    }

    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: invert(0.6) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--purple-400);

      &:hover {
        filter: brightness(0.95)
      }
    }
  }
}


.currentEpisode {
  text-align: center;
  padding: 0 33px;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 33px;


  strong {
    display: block;
    margin-top: 2rem;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1.75rem;
  }

  span {
    display: block;
    opacity: 0.6;
    line-height: 1.5rem;
  }

  img {
    border-radius: 10px;
  }
}

.currentEpisodeDetails {
  padding: 24px;
}